@import "~variables.scss";
.bottom-class {
    display: flex;
}

.info-container {
    color: $text-color;
}

.triangle-crop {
    width: 82px;
    height: 82px;
    overflow: hidden;
    width: 76px;
    height: 81px;
    bottom: 0;
    right: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    float: right;
    left: 0;
}

.author-photo {
    display: block;
    width: 58px;
    height: 58px;
    width: 56px;
    height: 68px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-21%);
    transform: rotate(0deg) translateX(0%) translateY(-18%);
    line-height: 0.9rem;
    width: 100%;
    bottom: -13px;
    position: absolute;
}

.bedazzlement {
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/bg_hash_top-dca2c5ab1b2e.png);
    background-size: 7px;
    background-repeat: repeat-x;
    width: 100%;
    background-position: top left;
    height: 100%;
    .title {
        color:  $text-color;
        h1 {
            margin-top: 0;
            padding: 5px 0px 0px 10px;
        }
    }
}

.decal {
    content: "";
    display: block;
    width: 47px;
    height: 47px;
    opacity: 0.1;
    z-index: 1;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/decal-a67af2e7d567.png);
    background-size: 300% 200%;
    background-position: -100% 0;
    right: 10px;
    bottom: -12px;
    -webkit-transform: rotate(-45deg) translateX(-50%) translateY(-21%);
    transform: rotate(90deg);
}

.sub-info {
    display: flex;
    flex-wrap: nowrap;
    .text {
        padding: 15px;
    }
}

.additional-info {
    padding-left: 15px;
}

.close-btn {
    text-align: center;
    flex-grow: 1;
    margin: auto;
    button {
        width: 30%;
        background-color: #3270bf;
    }
}

.home-planet {
    padding-left: 15px;
}